@font-face {
    font-family: sora;
    src: url(./Sora-VariableFont_wght.ttf);
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}
.text-underline {
    text-decoration: underline;
    cursor: pointer;
}
